html {
	
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../images/background.svg);
	background-position: 50% 70%;
	background-attachment: fixed;
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Georgia", serif;
	line-height: 150%;
}

header {
	height: 84px;
	width: 100%;
	background: #c8c8c8; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(-10deg, #c8c8c8, #fff, #c8c8c8); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(-10deg, #c8c8c8, #fff, #c8c8c8); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(-10deg, #c8c8c8, #fff, #c8c8c8); /* For Firefox 3.6 to 15 */
	background: linear-gradient(-10deg, #c8c8c8, #fff, #c8c8c8); /* Standard syntax */
	position: fixed;
	top: 0;
}

h1 {
	width: 200px;
	text-align: center;
	float: left; 
	padding: 30px;
	color: #f8f8f8;
	text-transform: capitalize;
	background-color: #196C18;
	margin: 0 0 0 25%;
}

.nav {
	margin: 40px 0 0 70%;
}

a:link {
	color: #585858;
	text-decoration: none;
}

a:visited {
	color: #888888;
	text-decoration: none;
}

a:hover {
	color: #196C18;
	text-decoration: underline;
}

a:active {
	color: #002909;
}

